/01-jsp-practicas/IntroJSP**/nbproject/private/
/01-jsp-practicas/IntroJSP**/build/
/02-practicas/JRS**/nbproject/private/
/02-practicas/JRS**/build/
/02-practicas/JRS**/dist/
/04-java-beans/*/nbproject/private/
/04-java-beans/*/build/
/06-mvc/*/nbproject/private/
/06-mvc/*/build/