/01-jsp-practicas/IntroJSP**/nbproject/private/
/01-jsp-practicas/IntroJSP**/build/
/02-practicas/JRS**/nbproject/private/
/02-practicas/JRS**/build/
/02-practicas/JRS**/dist/
/04-java-beans/Agenda/nbproject/private/
/04-java-beans/Agenda/build/
/04-java-beans/Calculadora/nbproject/private/
/04-java-beans/Tutorias/nbproject/private/
/04-java-beans/Calculadora/build/
/04-java-beans/Tutorias/build/
/myBeans/build/
/myBeans/dist/
/myBeans/nbproject/private/
/01-jsp-practicas/ProyectoIndividualWAv/nbproject/private/
/04-java-beans/JRSAgenda/nbproject/private/
/04-java-beans/JRSCalculadora/nbproject/private/
/04-java-beans/JRSTutorias/nbproject/private/
/04-java-beans/JRSAgenda/build/
/04-java-beans/JRSCalculadora/build/
/04-java-beans/JRSTutorias/build/